.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    background-color: red;

}

.left {
    background: #efe9e7;
    padding: 20px;
    width: 70%;
}

.right {
    background: #9caf88;
    padding: 20px;
    width: 30%;
}
.replyDugme{
   font-weight:bold;
    background:#2b2b49;
    color:white;
    height: fit-content;
    width: fit-content;

}
.replyDugme:hover{
    color:blue;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.imageSliderContainer {

    justify-content: center;
    align-items: center;
    text-align: left;


}

.kontejner {
    display: grid;
    width: fit-content;
    margin-left: 30%;

}

.priceStil {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.dividerX {
    margin: 10px;
}

.insertKomentar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.sendReply {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;

}