/* NavComponent.module.css */
.navComponent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.verticalLine {
    border-left: 1px solid white; /* Dodajte stil za vertikalnu liniju */
    height: 24px; /* Prilagodite visinu linije prema potrebi */

}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding-right: 0.5rem;
}

.navLink:hover {
    color: gray;
}

.activeNavLink {
    color: blue; /* Podesite boju koja vam odgovara */
}
.userImageContainer {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Opciono, dodajte razmak između slike i teksta */
}

.userImage {
    width: 30px; /* Prilagodite veličinu slike prema potrebi */
    height: 30px;
    border-radius: 50%; /* Da bi slika bila okrugla */
    object-fit: cover; /* Da bi slika bila ispravno skalirana */
    margin-right: 5px; /* Opciono, dodajte razmak između slike i teksta */
}
.poruka{
    color: white;
    font-size: 1rem;


}