.center {
    display: flex;

    background-color: #41418d;

}

.spaceComp {
    flex: 1;
    width: 100%;
    height: 100%;
}

.centerSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.dugme {
    width: 11%;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    background: #e0e0e0;
    margin: 5px;
    color: #41418d;

}


